html {
  box-sizing: border-box;
}
/* 
inherit border-box on all elements in the universe and before and after
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* grid system -- mobile first! */
.row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

@media only screen and (min-width: 480px) {
  [class*='col-'] {
    margin-left: 4%;
    margin-right: 0%;
  }
  .col-1-2,
  .col-2 {
    flex: 0 0 44%;
  }
  .col-1-4,
  .col-3,
  .col-4,
  .col-2-4 {
    flex: 0 0 92%;
  }
  .reverse [class*='col-'] {
    margin-left: 0%;
    margin-right: 4%;
  }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .col-1-2,
  .col-1-4 {
    flex: 0 0 20%;
  }
  .col-2,
  .col-2-4 {
    flex: 0 0 44%;
  }
  .col-3 {
    flex: 0 0 68%;
  }
  .col-4 {
    flex: 0 0 92%;
  }
  .order-first {
    order: 1;
  }
  .order-second {
    order: 2;
  }
  .order-third {
    order: 3;
  }
  .order-fourth {
    order: 4;
  }
}
